version: '3'

services:
  web:
    build: .
    container_name: django_app
    command:
      - sh
      - -c
      - |
        until nc -z db 3306; do
          echo 'Waiting for MySQL server...';
          sleep 3;
        done;
        echo 'MySQL is up! Running migrations...';
        python manage.py migrate;
        echo 'Starting server...';
        gunicorn DjangoProject2.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: django_db
      MYSQL_USER: django_user
      MYSQL_PASSWORD: password123
      MYSQL_ROOT_PASSWORD: rootpass
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
