apiVersion: apps/v1
kind: Deployment
metadata:
  name: lowpoceat-app
  namespace: 2401116
  labels:
    app: lowpoceat
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lowpoceat
  template:
    metadata:
      labels:
        app: lowpoceat
    spec:
      containers:
      - name: lowpoceat-app
        image: nexus-service-for-docker-hosted-registry.nexus.svc.cluster.local:8085/2401116/lowpoceat:latest
        ports:
        - containerPort: 8000
        env:
        - name: DB_HOST
          value: mysql-service
        - name: DB_NAME
          value: lowpoceatdb
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password

        readinessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 20
          periodSeconds: 10

        livenessProbe:
          httpGet:
            path: /
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 20

        command: ["/bin/sh"]
        args: ["-c", "gunicorn DjangoProject2.wsgi:application --bind 0.0.0.0:8000"]
